{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}
{% block choice_widget %}
    {% spaceless %}
        <!-- Aisel choice widget-->
        {% if compound %}
            <ul {{ block('widget_container_attributes_choice_widget') }}>

                {% for child in form %}

                    {# Override to make a tree #}
                    {% set margin = 0 %}
                    {% if child.vars.value %}
                        {% if form.vars.choices[child.vars.value].data.lvl is defined %}
                            {% set margin = form.vars.choices[child.vars.value].data.lvl * 30 %}
                        {% endif %}
                    {% else %}
                        {% set margin = 0 %}
                    {% endif %}

                    {#{{ dump(child.vars.value) }}#}
                    {#{{ dump(form.vars.choices[child.vars.value].data.lvl) }}#}

                    <li style="margin-left: {{ margin }}px;">
                        {% set form_widget_content %}
                        {{ form_widget(child) }}
                        {% endset %}
                        {{ form_label(child, child.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget_content } ) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">
                        {% if not sonata_admin.admin %}
                            {{- empty_value|trans({}, translation_domain) -}}
                        {% else %}
                            {{- empty_value|trans({}, sonata_admin.field_description.translationDomain) -}}
                        {% endif %}
                    </option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}
