{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Aisel Administration{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets
            '@AiselBackendUserBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}

            {% for stylesheet in admin_pool.getOption('stylesheets', []) %}
                <link rel="stylesheet" type="text/css"  href="{{ asset(stylesheet) }}"  />
            {% endfor %}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                    USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                };
            </script>

            {% for javascript in admin_pool.getOption('javascripts', []) %}
            <script src="{{ asset(javascript) }}" type="text/javascript"></script>
            {% endfor %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
