{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block javascripts %}
    <script src="{{ asset('/bower_components/blueimp-tmpl/js/tmpl.min.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-load-image/js/load-image.min.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-gallery/js/blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js//jquery.fileupload.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js//jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.fileupload-image.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.fileupload-video.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ asset('/bower_components/blueimp-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bower_components/blueimp-gallery/css/blueimp-gallery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bower_components/blueimp-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bower_components/blueimp-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/bower_components/blueimp-file-upload/css/jquery.fileupload-ui-noscript.css') }}"/>
{% endblock %}

<script type="text/javascript">
    $(function () {
        'use strict';
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
            url: '{{app.request.attributes.get('id')| mediaProductURI }}'
        });

        // Load existing files:
        $('#fileupload').addClass('fileupload-processing');
        $.ajax({
            url: $('#fileupload').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                    .call(this, $.Event('done'), {result: result});
        });

    });
</script>

<div id="fileupload" class="additionalImages">
    <label class="control-label">
        {{ 'aisel.admin.media.media_gallery'|trans({}, 'admin') }}
    </label>

    <!-- The file upload form used as target for the file upload widget -->
    <!--  @todo Redirect browsers with JavaScript disabled to the origin page -->
    <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{{ 'aisel.admin.media.add_files'|trans({}, 'admin') }}</span>
                    <input type="file" name="files[]" multiple>
                </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>{{ 'aisel.admin.media.start_upload'|trans({}, 'admin') }}</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>{{ 'aisel.admin.media.cancel_upload'|trans({}, 'admin') }}</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>{{ 'aisel.admin.media.delete'|trans({}, 'admin') }}</span>
            </button>
            <!-- <input type="checkbox" class="toggle"> -->
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
        <tbody class="files"></tbody>
    </table>
    <br>
</div>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{{ source('AiselProductBundle:Media:upload_form.html.twig') }}
