{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if (object.mainImage) %}
        <div class="productMainImage-container">
            <a href="{{ object.mainImage.path }}" target="_blank" title="{{ object.mainImage.fileName }}"
               class="productMainImage-href">
                <img class="productMainImage" src="{{ object.mainImage.path }}" title="{{ object.mainImage.fileName }}">
            </a>
            <br/>
        </div>
    {% else %}
        <span class="productMainImage-noimage">no image</span>
    {% endif %}
    {#{{ dump(object.mainImage) }}#}

{% endblock %}
