{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="aisel-config-bunle row">
    <div class="config-form col-md-12">
        <div class="page-header">
            <h2>{{ config_name | trans({}, 'AiselConfigBundle') }}</h2>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            {% for route in routes %}
                {% if app.request.get('_route') == route.path %}
                    {% set configClass = 'active' %}
                {% else %}
                    {% set configClass = '' %}
                {% endif %}
                <li class="{{ configClass }}">
                    <a href="{{ path(route.path, {'editLocale': app.request.get('editLocale')}) }}">
                        {{ route.name | trans({}, 'AiselConfigBundle') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="config-form col-md-12">
        <ul class="aisel-settings-locale nav nav-pills">
            {% if (locales|length > 1) %}
                {% for locale in locales %}
                    <li class="{% if locale == app.request.get('editLocale') %} active{% endif %}">
                        <a onclick="javascript:location.href='{{ path(app.request.attributes.get('_route'), {'editLocale': locale}) }}'"
                           href="#"
                           role="tab"
                           data-toggle="tab">
                            {{ ['settings.label.', locale]|join | trans({}, 'AiselConfigBundle') }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="tablocale">
                <div class="box update">
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form %}
                                {% include 'AiselConfigBundle:Settings:modify_form.html.twig' %}
                            {% else %}
                                {% include 'AiselConfigBundle:Settings:modify_form_empty.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
