{#

This file is part of the Aisel package.

(c) Ivan Proskuryakov

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="aisel-config-bunle">
   <div class="config-routes col-md-3 sidebar-nav">
       <h4>{{ 'settings.label' | trans({}, 'AiselConfigBundle') }}</h4>
       <ul class="config-entities nav nav-list">
           {#<li class="nav-header">{{ 'settings.label' | trans({}, 'AiselConfigBundle') }}</li>#}
           {% for route in routes %}
                <li>
                    <a href="{{ path(route.path) }}">
                        {{ route.name | trans({}, 'AiselConfigBundle') }}
                    </a>
                </li>
           {% endfor %}
       </ul>
   </div>
   <div class="config-form col-md-8">

       <h3>{{ config_name | trans({}, 'AiselConfigBundle') }}</h3>
       {% if form %}
           {% include 'AiselConfigBundle:Settings:modify_form.html.twig' %}
       {% else %}
           {% include 'AiselConfigBundle:Settings:modify_form_empty.html.twig' %}
       {% endif %}
    </div>
</div>



